<div id="alias-panel-{{num}}" class="panel panel-default">
    <div class="panel-heading" style="display: inline-flex; width: 100%;">
        <input style="width: 25%;" id="input-cant" class="form-control" type="number" min="1" placeholder="Cant" />
        <b style="font-size: 18pt;">|</b>
        <input id="input-alias" class="form-control" type="text" placeholder="Escriba nuevo alias" {{default_value}} />
        <button id="alias-btn-{{num}}" type="button" class="btn btn-default">❌</button>
    </div>
    <div id="panel-{{num}}" class="panel-body">
        <!--
        <p id="panel-subtotal" class="subtotal">Sub-total: $0.00</p>
        -->
    </div>
</div>